<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>WakeWord detector</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1>WakeWord detector</h1>

    <h2>Instructions</h2>
    <ol>
      <li>Choose your wakeword from the dropdown</li>
      <li>Click the "Submit" button</li>
      <li>Click the "Stream" button</li>
      <li>Give the broswer permission to use your microphone</li>
      <li>Start talking! When the app detects your wakeword, you'l see an indicator flash on the screen</li>
    </ol>

    If you'd like to create your own wakeword, go to the <a href="/create_wakeword">create wakeword page.</a>

    <div id="form">
    <form action="#" id="wakeword">
      <label for="name"><h2>Choose a wakeword:</h2></label>
      <select id="wakewords" name="name">

      </select>
      <button type="submit">Submit</button>
    </form>


    <div id="controls">
     <button id="recordButton">Stream</button>
     <button id="stopButton" disabled>Stop</button>
    </div>
    </div>

    <div id="response"></div>

    <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
    <script src="/static/js/detect_wakeword.js"></script>
  </body>
</html>
